@*@model WebCommunity.Controllers.ChatController*@

@page
@using Microsoft.AspNetCore.Identity
@model ApplicationUser
@inject UserManager<WebCommunity.Models.ApplicationUser> UserManager


<div class="container form-group">

    <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" id="userInput" class="form-control" value="@User.Identity.Name" >
    </div>
    <div class="form-group">
        <label class="control-label">Message</label>
        <input type="text" id="messageInput" class="form-control" />
    </div>
    <div class="form-group">
        <input type="button" id="sendButton" value="Send/Skicka" class="btn btn-success" />
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList" style="list-style: none;"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>

    var input = document.getElementById('messageInput');
    input.addEventListener("keyup", function (event) {
        if ((event.keyCode === 13) && (document.getElementById('messageInput').value !== "")) {
            event.preventDefault();
            document.getElementById('sendButton').click();
            document.getElementById('messageInput').value = "";
            document.getElementById('messageInput').focus();
        }
    })
</script>