@model string

<h1 class="bg-info text-white" style="padding-left:5px">Create a Role</h1>
<a asp-action="Index" class="btn btn-secondary" style="margin-bottom:5px">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
